*{
    font-family: Arial, Helvetica, sans-serif;


}
body {
    text-align: center;
    margin-top: 5%;
    background-color: rgba(245, 241, 130, 0.726);


}
input{
    width:30%;
    padding:1%;
    border: 1px solid #000;
    border-radius:5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
}
button{
    width: 20%;
    padding:1%;
    border: 1px solid #000;
    border-radius:5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: 1.5px 2px 0 #222, 3px 4px 0 #000;
}
button:active{
    /*background-color: red;*/
    box-shadow: inset -4px 4px 0 #222; /* "afunda o botão" */
    font-size: 0.9ren;
}
